<h2>Eventos</h2>

<hr />

<div class="row row-cols-lg-auto g-3 align-items-center">
  <div>
    <label class="visually-hidden" for="inlineFormInputGroupUsername"></label>
    <div class="input-group">
      <label class="col-sm-3 col-form-label">Filtro: </label>
      <input
        type="text"
        class="form-control"
        placeholder="buscar"
        [(ngModel)]="filtroLista"
      />
    </div>
  </div>
</div>

<hr />

<table class="table">
  <thead class="table-dark">
    <tr>
      <th class="text-center" scope="col">
        <button
          (click)="exibirOcultarImagem()"
          type="button"
          class="btn btn-outline-light btn-sm"
        >
          {{ !exibirImagem ? "exibir" : "ocultar" }}
        </button>
      </th>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Tema</th>
      <th class="text-center" scope="col">Local</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Qtd Pessoas</th>
      <th class="text-center" scope="col">Lote</th>
      <th class="text-center" scope="col">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td class="text-center">
        <img
          [collapse]="!exibirImagem"
          [isAnimated]="true"
          src="/assets/{{ evento.imagemURL }}"
          [style.width.px]="larguraImagem"
          [style.margin.px]="margemImagem"
        />
      </td>
      <td class="text-center">{{ evento.eventoId }}</td>
      <td class="text-center">{{ evento.tema }}</td>
      <td class="text-center">{{ evento.local }}</td>
      <td class="text-center">{{ evento.dataEvento }}</td>
      <td class="text-center">{{ evento.qtdPessoas }}</td>
      <td class="text-center">{{ evento.lote }}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-md-3">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td class="text-center" colspan="8">
        <h4>Nenhum evento encontado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
