<div class="card rounded shadow mb-5">
  <!-- <form>
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input type="text" class="form-control" placeholder="Insira o Tema" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text" class="form-control" placeholder="" />
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input type="datetime" class="form-control" placeholder="" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input type="text" class="form-control" placeholder="" />
        </div>
        <div class="form-group col-md-4">
          <label>Telefone</label>
          <input
            type="text"
            class="form-control"
            placeholder="(000) 90000-0000"
          />
        </div>
        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="e-mail" />
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border">
          Cancelar Alteração
        </button>
        <button class="btn btn-success">
          <span class="spinner-border spinner-border-sm mr-1"></span>
          Salvar Evento
        </button>
      </div>
    </div>
  </form> -->

  <form>
    <div class="row px-4">
      <div class="col-lg-12">
        <div class="row mt-1">
          <h4 class="border-bottom text-center text-muted">
            Adicionar um Novo Evento
          </h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <label class="form-label">Tema</label>
            <input type="text" class="form-control" placeholder="Insira o Tema"/>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-8">
            <label class="form-label">Local</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Data e Hora</label>
            <input type="datetime" class="form-control"/>
          </div> 
        </div>
        <div class="row my-4">
          <div class="col-md-2">
            <label class="form-label">Quantidade de Pessoas</label>
            <input type="number" class="form-control" />
          </div>
          <div class="col-md-5">
            <label class="form-label">Telefone</label>
            <input type="text" class="form-control" placeholder="(00)00000-0000"/>
          </div>
          <div class="col-md-5">
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control" />
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-evenly">
        <button class="btn btn-outline-secondary mr-auto border">
          Cancelar Alterações
        </button>
        <button class="btn btn-success mr-auto border">
          Salvar Alterações
        </button>
      </div>
    </div>
  </form>
</div>
