<div class="row mt-4">
  <div class="col-md-6 d-none d-md-block" style="height: 450px">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1 class="me-5">Cadastro de Usuário</h1>
      <img
        src="../../../../assets/registerImage.png"
        class="my-4"
        alt=""
        width="400px"
      />
    </div>
  </div>
  <div class="col-md-6">
    <form class="row g-2" [formGroup]="formulario" (ngSubmit)="registerUser()">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="col-md-6">
        <label class="form-label mt-2">Primeiro Nome:</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched
          }"
          formControlName="primeiroNome"
          placeholder="Insira o primeiro nome"
        />
        <div *ngIf="f.primeiroNome.errors?.required" class="invalid-feedback">
          O primeiro nome é obrigatório
        </div>
        <div *ngIf="f.primeiroNome.errors?.minlength" class="invalid-feedback">
          Mínimo de 3 caracteres
        </div>
        <div *ngIf="f.primeiroNome.errors?.maxlength" class="invalid-feedback">
          Máximo de 15 caracteres
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label mt-2">Último Nome:</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched
          }"
          formControlName="ultimoNome"
          placeholder="Insira o último nome"
        />
        <div *ngIf="f.ultimoNome.errors?.required" class="invalid-feedback">
          O último nome é obrigatório
        </div>
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label mt-2">E-mail:</label>
        <input
          type="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
          formControlName="email"
          placeholder="Insira o e-mail completo"
        />
        <div *ngIf="f.email.errors?.required" class="invalid-feedback">
          O e-mail é obrigatório
        </div>
        <div *ngIf="f.email.errors?.email" class="invalid-feedback">
          O e-mail precisa ser válido
        </div>
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label mt-2">Usuário:</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.userName.errors && f.userName.touched }"
          formControlName="userName"
          placeholder="Insira o nome de usuário"
        />
        <div *ngIf="f.userName.errors?.required" class="invalid-feedback">
          O e-mail é obrigatório
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label mt-2">Senha:</label>
        <input
          type="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched }"
          formControlName="password"
          placeholder="Digite uma senha"
        />
        <div
          *ngIf="f.password.errors?.required && f.password.touched"
          class="invalid-feedback"
        >
          A senha é obrigatória
        </div>
        <div
          *ngIf="f.password.errors?.minlength && f.password.touched"
          class="invalid-feedback"
        >
          Deve conter no mínimo 4 caracteres
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label mt-2">Confirmar Senha:</label>
        <input
          type="password"
          class="form-control"
          [ngClass]="{
            'is-invalid': f.confirmarPassword.errors && f.confirmarPassword.touched
          }"
          formControlName="confirmarPassword"
          placeholder="Repita a senha"
        />
        <div
          *ngIf="f.confirmarPassword.errors?.required && f.confirmarPassword.touched"
          class="invalid-feedback"
        >
          Confirmar a senha é obrigatório
        </div>
        <div
          *ngIf="f.confirmarPassword.errors?.minlength && f.confirmarPassword.touched"
          class="invalid-feedback"
        >
          Deve conter no mínimo 6 caracteres
        </div>
        <div
          *ngIf="f.confirmarPassword.errors?.mustMatch && f.confirmarPassword.touched"
          class="invalid-feedback"
        >
          As senhas devem coincidir
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input mt-3" type="checkbox" id="gridCheck" />
          <label class="form-check-label mt-3" for="gridCheck">
            Eu concordo com os
            <a href="#" style="text-decoration: none">Termos de Uso</a>.
          </label>
        </div>
      </div>
      <div class="d-grid gap-2 col-5 mx-auto">
        <button
          class="btn btn-primary mt-2"
          type="submit"
          [disabled]="!formulario.valid"
        >
          Registrar
        </button>
      </div>
      <div class="form-row">
        <div class="d-grid gap-2 col-5 mx-auto">
          <a
            class="btn btn-link btn-block"
            style="text-decoration: none"
            routerLink="/user/login"
          >
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
